Source: handystats
Section: libdevel
Priority: optional
Maintainer: Danil Osherov <shindo@yandex-team.ru>
Build-Depends: debhelper (>= 7),
		cmake,
		libboost-dev,
		libtbb-dev,
		libgtest-dev,
Standards-Version: 3.8.0
Homepage: https://github.com/shindo/handystats
Vcs-git: git://github.com/shindo/handystats.git
Vcs-Browser: https://github.com/shindo/handystats

Package: handystats
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtbb2
Description: C++ Framework for collecting runtime in-process statistics
